.home {
  padding: 0 1rem;

  &__notification {
    background-color: #ffcb01;
    font-size: 0.8rem;
    margin-bottom: 3rem;
    padding: 1rem;
    text-align: center;
  }

  .required {
    position: relative;
    width: fit-content;

    &::before {
      color: red;
      content: "*";
      font-size: 2rem;
      position: absolute;
      top: -10px;
      right: -15px;
    }
  }

  &__input-container {
    padding-left: 0.5rem;
  }

  &__input-date {
    flex: 1;

    &__alert {
      background-color: #ffcb01;
      border-radius: 10px;
      margin: 2rem 0 1rem;
      padding: 1rem;
      position: relative;

      &::before {
        content: "";
        border: 20px solid transparent;
        border-bottom: 20px solid#ffcb01;
        bottom: 100%;
        height: 0px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0px;
      }
    }
  }

  &__privacy {
    margin-top: 2rem;

    h3 {
      margin: 0 0 0.5rem;
    }

    p {
      margin: 0;
    }

    p + p {
      margin-bottom: 1rem;
    }

    &__alert {
      background-color: #ffcb01;
      border-radius: 10px;
      margin: 2rem 0 2rem;
      padding: 1rem;
      position: relative;

      &::before {
        content: "";
        border: 20px solid transparent;
        border-bottom: 20px solid#ffcb01;
        bottom: 100%;
        height: 0px;
        left: 10%;
        position: absolute;
        width: 0px;
      }
    }
  }

  &__agreement {
    margin: 2rem 0;
  }

  &__button {
    font-family: inherit !important;
    font-weight: 700 !important;
    padding: 0.7rem 1.2rem !important;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;

    &__container {
      padding: 0 3rem;
    }

    &__notification {
      font-size: 1.5rem;
      margin-top: 0rem;
    }

    &__privacy {
      &__alert {
        width: 33%;
      }

      &__switch__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &__switch {
        justify-self: center;
      }

      &__switch:first-child {
        justify-self: left;
      }

      &__switch:last-child {
        justify-self: right;
      }
    }

    &__button__container {
      text-align: right;
    }

    &__button {
      width: fit-content;
    }
  }
}
