.navbar {
  &__content {
    padding: 0 1rem;
  }

  &__logo {
    margin: 0 auto;
    width: 50%;
  }

  &__language__select {
    border: none;
    font-family: inherit;
    margin-right: 0.5rem;
    outline: none;
    width: fit-content;
  }

  &__ruler {
    background-color: #ffcb01;
    height: 5px;

    &--top {
      margin-bottom: 1.5rem;
    }

    &--bottom {
      margin-top: 0.5rem;
    }
  }

  @media screen and (min-width: 1200px) {
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "... logo language";
      padding: 0 3rem;
    }

    &__logo {
      grid-area: logo;
      width: 300px;
    }

    &__language {
      grid-area: language;
      text-align: right;
    }
  }
}
